<!DOCTYPE html>
<html>
<body>

<h2>Text Form</h2>

<form action="/process" method="post">

  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <input type="submit" name="submit">
</form>



</body>