<!DOCTYPE html>
<html>
  <head>
    <title><%= quang %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= quang %></h1>
    <font style="color:red"><p>Welcome to <%= quang%></p></font>
  </body>
</html>
